openapi: 3.0.3
info:
  title: Intentum API
  description: Intent-driven development framework REST API
  version: 1.2.0
  contact:
    name: Intentum Team
    url: https://github.com/keremvaris/Intentum

servers:
  - url: https://api.intentum.dev
    description: Production
  - url: http://localhost:5000
    description: Local development

paths:
  /api/intent/infer:
    post:
      operationId: inferIntent
      summary: Infer intent from behavior events
      tags:
        - Intent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferRequest'
      responses:
        '200':
          description: Intent successfully inferred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/intent/evaluate:
    post:
      operationId: evaluateIntent
      summary: Evaluate intent against policy
      tags:
        - Intent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluateRequest'
      responses:
        '200':
          description: Policy decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'

  /api/behavior/space:
    post:
      operationId: createSpace
      summary: Create behavior space from events
      tags:
        - Behavior
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpaceRequest'
      responses:
        '201':
          description: Space created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceResponse'

  /api/intent/analytics/timeline/{entityId}:
    get:
      operationId: getIntentTimeline
      summary: Get intent timeline for an entity
      tags:
        - Analytics
      parameters:
        - name: entityId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Intent timeline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimelineResponse'

  /api/intent/explain-tree:
    post:
      operationId: explainIntentTree
      summary: Get decision tree explanation for intent
      tags:
        - Explainability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplainRequest'
      responses:
        '200':
          description: Decision tree explanation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplainResponse'

  /api/intent/playground/compare:
    post:
      operationId: compareModels
      summary: Compare intent models in playground
      tags:
        - Playground
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompareRequest'
      responses:
        '200':
          description: Model comparison results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareResponse'

components:
  schemas:
    BehaviorEvent:
      type: object
      required:
        - actor
        - action
      properties:
        actor:
          type: string
          description: Event actor
        action:
          type: string
          description: Event action
        timestamp:
          type: string
          format: date-time
          description: Event timestamp
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata

    InferRequest:
      type: object
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/BehaviorEvent'

    InferResponse:
      type: object
      properties:
        name:
          type: string
          description: Intent name
        confidence:
          $ref: '#/components/schemas/Confidence'

    Confidence:
      type: object
      properties:
        score:
          type: number
          format: double
          minimum: 0
          maximum: 1
        level:
          type: string
          enum:
            - Certain
            - High
            - Medium
            - Low

    EvaluateRequest:
      type: object
      required:
        - intent
        - policy
      properties:
        intent:
          $ref: '#/components/schemas/Intent'
        policy:
          $ref: '#/components/schemas/Policy'

    EvaluateResponse:
      type: object
      properties:
        decision:
          type: string
          enum:
            - Allow
            - Observe
            - Warn
            - Block
            - Escalate
            - RequireAuth
            - RateLimit

    Intent:
      type: object
      properties:
        name:
          type: string
        confidence:
          $ref: '#/components/schemas/Confidence'

    Policy:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/PolicyRule'

    PolicyRule:
      type: object
      properties:
        name:
          type: string
        decision:
          type: string
          enum:
            - Allow
            - Observe
            - Warn
            - Block
            - Escalate
            - RequireAuth
            - RateLimit

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        code:
          type: string

    CreateSpaceRequest:
      type: object
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/BehaviorEvent'

    SpaceResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        eventCount:
          type: integer
        vector:
          type: object
          additionalProperties:
            type: number

    TimelineResponse:
      type: object
      properties:
        entityId:
          type: string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/TimelineEntry'

    TimelineEntry:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        intentName:
          type: string
        confidence:
          $ref: '#/components/schemas/Confidence'
        decision:
          type: string

    ExplainRequest:
      type: object
      required:
        - intent
      properties:
        intent:
          $ref: '#/components/schemas/Intent'

    ExplainResponse:
      type: object
      properties:
        root:
          $ref: '#/components/schemas/ExplainNode'

    ExplainNode:
      type: object
      properties:
        label:
          type: string
        confidence:
          type: number
          format: double
        children:
          type: array
          items:
            $ref: '#/components/schemas/ExplainNode'

    CompareRequest:
      type: object
      required:
        - events
        - modelNames
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/BehaviorEvent'
        modelNames:
          type: array
          items:
            type: string

    CompareResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ModelComparison'

    ModelComparison:
      type: object
      properties:
        modelName:
          type: string
        intent:
          $ref: '#/components/schemas/Intent'
        elapsedMs:
          type: number
          format: double
