@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <NavMenu />
    </aside>
    <main>
        <article class="dashboard-main">
            @Body
        </article>
    </main>
</div>
